/* Meyers Reset http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
	/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/* Common Styles */
.h, h1, h2, h3, h4, h5, h6 {
	font-family: impact;
	text-transform: uppercase;
}
.h.onColor{
	color: white;
	text-align: center;
}
hr {
	margin: 40px 40px;
	padding: 0;
	border: none;
	border-top: solid 1px #ccc;
}
.innerBox {
	border-radius: 5px;
	box-shadow: 0 0 20px -3px rgba(0,0,0,.8);
}
.main > p {
	margin: 10px 40px;
	color: #555;
	line-height: 24px;
	font-size: 16px;
}

b, code {
	color: #379efd;
	font-family: arial;
	font-weight: bold;
}
h1 b, h1 code {
	color: #fff;
	text-shadow: 2px 2px 0 #000;
	font-family: inherit;
	font-weight: normal;
}

h2 b, h2 code {
	color: #446;
	font-family: inherit;
}
pre code {
	display: block;
	border: solid 1px #ccc;
	overflow-x: scroll;
	overflow-y: auto;
	background: #eee;
	color: #000;
	border-radius: 5px;
	padding: 15px;
	font-weight: normal;
	font-family: monospace;
	margin: 10px 0 -20px 0;
}
pre code b {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}
code.html:before {
	content: "<";
}
code.html:after {
	content: ">";
}
.example {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 15px;
	background: #eee;
}
form > .example, .main > .example {
	margin: 10px 40px;
}
form > .example .row, .main > .example .row {
	margin: 10px 0;
}

/* List */
ul.standard {
	margin: 0 40px;
	color: #666;
	font-size: 16px;
}
ul.standard > li {
      list-style: none;
      margin: 20px 10px;
}
ul.standard > li:before {
  content:'\2022';
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -10px;
  top: -0px;
  color: rgb(0,146,69);
  font-size: 20px;
}


/* Shortcuts */
.main > .map {
	float: left;
	padding: 5px;
	border-radius: 5px;
	background-color: #fff;
	margin: 5px 20px 5px 40px;
	position: relative;
	box-shadow: 0 0 10px 1px #ccc;
}
.main > .map small {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #fff;
	padding: 5px;
}
.flipH {
	-o-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.gradient {
	background: #379efd;
	background: -moz-linear-gradient(90deg, rgb(20, 142, 207) 0%, rgb(0, 113, 188) 100%);
	background: -webkit-linear-gradient(90deg, rgb(20, 142, 207) 0%, rgb(0, 113, 188) 100%);
	background: -o-linear-gradient(90deg, rgb(20, 142, 207) 0%, rgb(0, 113, 188) 100%);
	background: -ms-linear-gradient(90deg, rgb(20, 142, 207) 0%, rgb(0, 113, 188) 100%);
	background: linear-gradient(180deg, rgb(20, 142, 207) 0%, rgb(0, 113, 188) 100%);
}
.gradient.inverse {
	background: linear-gradient(180deg, rgb(255,131,10) 0%, rgb(255,147,30) 100%);
}
.clearfix {clear: both;}

/* Page Structure */
body {text-align:center;
	/*background-image: url(../img/bg.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;*/
	font-family: arial;
}

@media screen and (max-width: 1370px) and (min-width: 890px) {
  body {
	overflow-x: hidden;
  }
}
.main, .form, footer {
	background-color: #fff;
	padding: 1px 0; /*without this, the background of these elments does not go to the full height--this will happen in any cases where the first child element has a top margin or the last child element has a bottom margin. I'm not sure why, but giving the padding 1px seems to fix it. */
	border-radius: 1em;
}

#container { width: 890px; text-align: left;margin-left: auto;margin-right: auto;position: relative;}
header {
  background-color: transparent;
  font-size: 5.3rem;
  text-align: center;
  color: #379efd;
  text-shadow: .04em .04em rgba(0,0,0,1), 0 0 1em rgba(100,200,250,0.4);
  padding: 0em 0 0.1em 0;}
header h1 {
	font-size: 2em;
}
header .subheader {
	font-size: 1em;
}

body{
background-color: rgb(0, 113, 188);
/* generated from http://www.colorzilla.com/gradient-editor/*/
background-image:
	radial-gradient(ellipse 6000px 2000px at top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.76) 14%,rgba(178,212,235,0.5) 40%,rgba(59,146,204,0) 80%,rgba(0,113,188,0) 100%);
	background-position: top center;
	background-repeat: no-repeat;
	height: 1636px;
}



/* Footer */
footer { padding-bottom: 20px; clear: both;}
footer nav ul { text-align: center;}
footer nav ul li { display: inline-block; padding: 10px 0;}
footer nav ul li a {  padding: 10px; text-decoration: none; color: #000; font-family: sans-serif;}
footer nav ul li a:hover { text-decoration: underline;}
footer nav ul li:after { content: "|"}
footer nav ul li.last:after { content: ""}

/* payment methods */
#payment_methods {
	width: 770px;
	height: 71px;
	background: url(../img/payment-methods.jpg);
	background-position: 0;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0;
	}
/* social links */
#social_links {
	width: 353px;
	height: 59px;
	background: url(../img/social-links.jpg);
	background-position: 0;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0;
	}

p.footer { text-align: center; padding: 10px 0;}
.great, .luck, .bingo {text-transform:uppercase;}
.great {color: #379efd;}
.luck {color: orange;}


/* Forms */
#container input.error {
	border: solid 1px red;
	box-shadow: 0 0 0 1px red;

}
#tip {
	position: absolute;
	top: -999px;
	left: -999px;
	border: solid 1px black;
	max-width: 300px;
	padding: 10px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 3px 3px 5px 0 #444;
}
#tip:after {
	content: "";
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	display: block;
	position: absolute;
	bottom: -6px;
	left: 20px;
	background: #fff;
	box-shadow: 2px 2px 5px 0 #666;

}


form h1, .main h1{
	background: #379efd;
	border-radius: 8px;
	padding: 10px 20px;
	color: #fff;
	font-size: 1.4em;
	margin: 40px 40px 20px 40px;
	letter-spacing: 1px;
}
form h2, .main h2 {
	margin: 20px 40px;
	text-transform: uppercase;
	color: #379efd;
	font-family: arial;
	font-weight: bold;
}

form h2 .small, .main h1 .small {
	text-transform: none;
	color: #aaa;
	font-size: 1em;
	font-weight: normal;
}
form h3, .main h3 {
	color: #379efd;
	margin: 30px 40px 10px 40px;;
	text-transform: none;
	font-size: 1em;
	font-weight: normal;
	font-family: arial;
	font-weight: bold;

}
.row {
	margin: 10px 40px;
	position: relative;
	color: #555;
	clear: both;
}
.row.small {
	font-size: 14px;
	color: #777;
	padding
}
.row label,
.row .controls {
	line-height: 30px;
	font-weight: bold;
	font-size: 1.1em;
}
.row label.small{
	font-weight: normal;
	font-size: 1em;
}
.row .controls {
	margin-left: 250px;
}
.row .label.full,
.row label.full {
	float: none;
}
.row .controls.full {
	margin-left: 0;
}
.row .controls.inline {
	float: left;
	margin-left:0;
	padding: 10px 0;
}
.row label {
	float: left;
}
.row .controls label {
	float: none;
}
.row p, .row p.note, .row ul, .row ol {
	vertical-align: middle;
	line-height: 30px;
	font-size: .9em;
	color: #666;
	padding: 10px 0;
}
.row .note:before {
	content: "!";
	color: white;
	font-weight: bold;
	font-size: 30px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #379efd;
	display: block;
	text-align: center;
	padding: 5px;
	float: left;
	line-height: 21px;
	margin-right: 10px;
}
.row ol {
	list-style: decimal;
	margin-left: 30px;
}
.row ul{
	list-style: disc;
	margin-left: 30px;
}

.controls .tip{
	font-size: 1em;
	font-weight: normal;
	color: #666;
}
.row .controls input,
.row .controls select,
.row .controls textarea
{
	padding: 4px 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
	margin-right: 10px;
	font-size: 1em;
}
textarea { font-family: arial; color: #444;}
.row .controls.inline input {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
}
.controls .full {
	width: 340px;/* in a normal context, this isn't technically "full", but really just means "largest" or somthing. maybe this should be renamed in the future. */
}
.controls.full .full {/* a "full" width form actually needs to be "full" when it is inside a row that is also specified as full. */
	width: 745px;
}
.controls .large {
	width: 216px;
}
.controls .medium {
	width: 115px;
}
.controls .small {
	width: 40px;
}

.row .label.full, .row .label.inline, .row label.inline {
	font-size: 1em;
	color: #555;
	padding: 10px 0;
	line-height: 30px;
}
.row .label.inline, .row label.inline {
	float:left;
	padding-right: 20px;
}
.fineprint {
	margin: 20px 0;
	border: solid 1px #666;
	border-radius: 5px;
	height: 160px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
	font-weight: bold;
	position: relative;
}
.fineprint p { margin: 10px 0;}
.fineprint:first-child p{ margin-top: 0;}


/* Actions and Navigation */
.action.primary {
	float:right;
	border: none; border-radius: 5px; padding: 8px 8px; text-align: center; min-width: 90px; color: #fff; font-weight: bold;
	background:#379efd;
}


.next, .back {
	font-size: 2em;
	font-family: impact;
	color: #fff;
	margin: 50px 0;
	position: relative;
	text-decoration: none;
}
.next {
	padding: 10px 5px 10px 15px;
	float:right;
	background: green;
	margin-right: 110px;
}
.back {
	padding: 10px 15px 10px 5px;
	float:left;
	background: orange;
	margin-left: 70px;
}
.next:after, .back:before {
	content: "";
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	font-size: 0;
	position: absolute;
	top: -13px;
	cursor: pointer;
}
.next:after {
	border-left: 40px solid green;
	right: -40px;
}
.back:before {
	border-right: 40px solid orange;
	left: -40px;
}


/* Form Effects */
.showDollar {
	position: relative;
}
.showDollar:before {
	content: "$";
	position: absolute;
	left: 5px;
	color: #ccc;
}

/* FAQ pages */
.faq h2 {
	margin: 30px 60px 10px 60px;
	text-transform: none;
}
.faq p {
	margin: 10px 60px 30px 60px;
	color: #555;
	line-height: 24px;
	font-size: 16px;
}
.faq nav h1 {
	text-transform: none;
	background: none;
	border-radius: 0;
	padding: 0;
	color: #555;
	font-size: 1.4em;
	font-family: arial;
	margin: 10px 60px;
}

.faq nav ul {
	margin: 10px 0 40px 60px;
}
.faq nav ul li {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 24px;
}
.faq nav a {
	color: #555;
	text-decoration: none;
}
.faq nav a:hover {
	color: #379efd;
}
/* forms need to look different on faq pages*/
.faq .row  {
	margin: 10px 60px;
}


/* CSS only Tabbed sections */
/* check this out. no javascript required at all. */

.tabbedSections > span > label:first-child { margin-top:0;}
.tabbedSections > span > label:last-child { margin-bottom:0;}
.tabbedSections > span > label {
	clear:left;
	color: #555;  margin-left: 40px;
	float: left;  font-weight: bold;
	 line-height: 7px;
	display: block;font-size: 1.1em;
	padding: 10px 0;cursor: pointer;
	/*border-right:    solid 2px #ccc;*/
	font-weight: normal;
}
.tabbedSections > span > label:hover {color: #379efd;}
.tabbedSections .tab {
	float: right;
	display: none;
	width: 550px;
	margin-right: 40px;
	padding-left: 20px;
	border-left: 2px solid #ccc;
	margin-bottom: -300px; /* tabBMarginOffset. negative of tabBMargin. */
}
.tabbedSections .tab .row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 14px;
}
.tabbedSections .tab .row .controls {
	margin-left: 0;
	text-align: right;
}
.tabbedSections .tab .row .controls input {
	margin-right: 0;
	margin-left: 10px;
}
.tabbedSections .tab .row .controls .full { width: 355px;}
.tabbedSections input[name=tabs] { display: none; }
.tabbedSections input[name=tabs]:checked ~ label {color: #379efd;}
.tabbedSections input[name=tabs]:checked ~ div {display: block;}
.tabbedSections .tab1 {margin-top:0px;}
.tabbedSections .tab2 {margin-top:-27px;}
.tabbedSections .tab3 {margin-top:-54px;}
.tabbedSections .tab4 {margin-top:-81px;}
.tabbedSections .tab5 {margin-top:-108px;}
.tabbedSections + .clearfix { margin-bottom:300px;} /* tabBMargin. positive of tabBMarginOffset */
